#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

include /usr/share/dpkg/architecture.mk
include /usr/share/dpkg/buildtools.mk

export DH_RUBY = --gem-install
export DH_RUBY_USE_DH_AUTO_INSTALL_DESTDIR = debian/ruby-google-protobuf
export DH_RUBY_GEM_INSTALL_INCLUDE = src/* tests/* google-protobuf.gemspec generate_stubs.rb
export GEM2DEB_TEST_RUNNER = --check-dependencies
#export PROTOCOL_BUFFERS_RUBY_IMPLEMENTATION=FFI
export PROTOCOL_BUFFERS_RUBY_IMPLEMENTATION=NATIVE
RUBY_PKG_DIR = $(CURDIR)/debian/ruby-google-protobuf

ifneq (,$(findstring $(DEB_BUILD_ARCH), armel m68k mips mipsel powerpc powerpcspe sh4))
export DEB_LDFLAGS_MAINT_APPEND  = -latomic
endif

# faster than the pure-python alternative
# not yet ported to Python 3.14
#PYTHON_CPP=--cpp_implementation
# Pexip - no ruby or java
export DEB_BUILD_PROFILES = noruby nojava

SONAME=36
API_VERSION=$(SONAME)-0

%:
	dh $@

override_dh_clean:
	$(RM) -rv gmock $(CURDIR)/build-static/ $(CURDIR)/build-shared/
	$(RM) -rv $(CURDIR)/java/core/target/ $(CURDIR)/java/util/target/
ifeq (,$(filter noruby,$(DEB_BUILD_PROFILES)))
	sed 's|ext/|ruby/ext/|;s|tests/|ruby/tests/|' \
		$(CURDIR)/ruby/google-protobuf.gemspec \
		>$(CURDIR)/google-protobuf.gemspec
	cd ruby && rake clobber
endif
	dh_clean
	$(RM) config.h config.log config.status
	$(RM) *.pc
	$(RM) google-protobuf.gemspec
	$(RM) src/protoc
	$(RM) libtool stamp-h1
	$(RM) php/src/GPBMetadata/Google/Protobuf/Type.php
	$(RM) -r python/build/
	$(RM) ruby/tests/basic_test_pb.rb \
		ruby/tests/basic_test_proto2_pb.rb \
		ruby/tests/generated_code_pb.rb \
		ruby/tests/generated_code_proto2_pb.rb \
		ruby/tests/google/protobuf/wrappers_pb.rb \
		ruby/tests/test_import_pb.rb \
		ruby/tests/test_import_proto2_pb.rb \
		ruby/tests/test_ruby_package_pb.rb \
		ruby/tests/test_ruby_package_proto2_pb.rb
	$(RM) -r ruby/ext/google/protobuf_c/third_party/utf8_range/
	find $(CURDIR) -name Makefile -delete

override_dh_auto_configure:
ifneq ($(DEB_BUILD_ARCH),$(DEB_HOST_ARCH))
	# build for the native (i.e. build) architecture, as we need
	# the protoc compiler for the native arch.
	dpkg-architecture -f -a$(DEB_BUILD_ARCH) -c dh_auto_configure -- -DBUILD_SHARED_LIBS=ON -Dprotobuf_ABSL_PROVIDER=package -Dprotobuf_BUILD_TESTS=OFF

PYTHON_CROSS_VARS += PROTOC=$(CURDIR)/debian/run_protoc
PYTHON_CROSS_VARS += PYTHONPATH=/usr/lib/python$$pv/plat-$(DEB_HOST_MULTIARCH)
PYTHON_CROSS_VARS += _PYTHON_HOST_PLATFORM=$(DEB_HOST_ARCH_OS)-$(DEB_HOST_GNU_CPU)
PYTHON_CROSS_VARS += CC=$(CXX)
PYTHON_CROSS_VARS += CXX=$(CXX)
else
	dh_auto_configure --builddir=build-static/ -- -DBUILD_SHARED_LIBS=OFF -Dprotobuf_ABSL_PROVIDER=package -Dprotobuf_BUILD_TESTS=OFF -Dprotobuf_USE_EXTERNAL_GTEST=ON
	dh_auto_configure --builddir=build-shared/ -- -DBUILD_SHARED_LIBS=ON  -Dprotobuf_ABSL_PROVIDER=package -Dprotobuf_BUILD_TESTS=OFF -Dprotobuf_USE_EXTERNAL_GTEST=ON
endif

override_dh_auto_build-arch:
## Chicken<->Egg problem: protobuf requires self-generated .pb.go files to
## be built. First we build it normally; then "generate_descriptor_proto.sh"
## generates .pb.go files and replaces 'em if they are different as well as
## invokes "make protoc" which re-builds "src/protoc" if required.
	dh_auto_build --arch --builddir=build-static
	dh_auto_build --arch --builddir=build-shared
	PROTOC=$(CURDIR)/build-shared/protoc \
	       bash -x ./generate_descriptor_proto.sh \
	       --bootstrap_protoc $(CURDIR)/build-shared/protoc

ifneq ($(DEB_BUILD_ARCH),$(DEB_HOST_ARCH))
	# save the native compiler
	cp -Rv src/.libs debian/native_protoc
	# clean everything but regenerated .pb.{cc,go} files
	$(MAKE) clean
	# cross build
	dh_auto_configure -- --with-protoc=$(CURDIR)/debian/run_protoc
	dh_auto_build --arch
endif

	# Generate the manpage
	xmlto man debian/protoc.xml

ifeq (,$(filter nopython,$(DEB_BUILD_PROFILES)))
	# Python3 build
	cp -rv python python3
	cp -v $(CURDIR)/debian/python/setup.py \
		$(CURDIR)/python3/
#	export LDFLAGS=-L$(CURDIR)/build-shared/;
	set -e; \
	cd python3 && for pv in $(shell py3versions -vr); do \
		$(PYTHON_CROSS_VARS) \
		LDFLAGS=-L$(CURDIR)/build-shared/ \
		PROTOC=$(CURDIR)/build-shared/protoc \
		python$$pv setup.py build ${PYTHON_CPP}; \
	done
endif

ifeq (,$(filter noruby,$(DEB_BUILD_PROFILES)))
	# Ruby build
	sed 's|ext/|ruby/ext/|;s|tests/|ruby/tests/|' \
		$(CURDIR)/ruby/google-protobuf.gemspec \
		>$(CURDIR)/google-protobuf.gemspec
	cd ruby && \
		PROTOC=$(CURDIR)/build-shared/protoc \
		rake package genproto
#		rake package gem
endif

override_dh_auto_build-indep:
	dh_auto_build --builddir=build-shared/ --indep

	# Java build will use this path for protoc, maybe set PROTOC?
ifeq (,$(filter nojava,$(DEB_BUILD_PROFILES)))
	ln -s $(CURDIR)/build-shared/protoc $(CURDIR)/src/
	# Generate JavaFeaturesProto.java
	$(CURDIR)/src/protoc --java_out=$(CURDIR)/java/core/src/main/java/ -I$(CURDIR)/java/core/src -I$(CURDIR)/src $(CURDIR)/java/core/src/main/resources/google/protobuf/java_features.proto
	# Java build
	ant -f debian/java-build.xml jar jar-util
endif

override_dh_auto_test-arch:
	dh_auto_test --builddir=build-shared/ --arch

ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS))$(filter nopython,$(DEB_BUILD_PROFILES)))
    # Python3 test
#	set -e; \
	cd python && for PYTHON in $(shell py3versions -r); do \
		LD_LIBRARY_PATH=$(CURDIR)/build-shared/ \
		$$PYTHON setup.py test ${PYTHON_CPP}; \
	done
	@echo Python testing is gone...
endif

ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS))$(filter noruby,$(DEB_BUILD_PROFILES)))
	cd ruby && \
		PROTOC=$(CURDIR)/build-shared/protoc \
		rake gc_test
endif

override_dh_auto_test-indep:
	:

override_dh_auto_clean-arch:
	dh_auto_clean --arch

	# Python3 clean
	$(RM) -r $(CURDIR)/python3

override_dh_auto_clean-indep:
	dh_auto_clean --indep

ifeq (,$(filter nojava,$(DEB_BUILD_PROFILES)))
	# Java clean
	ant -f debian/java-build.xml clean || true
	mh_clean || true
endif

override_dh_auto_install-arch:
	dh_auto_install --builddir=build-static/ --arch
	dh_auto_install --builddir=build-shared/ --arch

ifeq (,$(filter nopython,$(DEB_BUILD_PROFILES)))
	# Python3 install
	set -e; \
	cd python3 && for pv in $(shell py3versions -vr); do \
		$(PYTHON_CROSS_VARS) python$$pv setup.py install ${PYTHON_CPP} \
			--install-layout=deb --no-compile \
			--root=$(CURDIR)/debian/python3-protobuf; \
	done
	find $(CURDIR)/debian/python3-protobuf -name 'protobuf-*-nspkg.pth' -delete
endif

ifeq (,$(filter noruby,$(DEB_BUILD_PROFILES)))
	# Fix missing files
	for rubyver in $(shell dh_ruby --print-supported); do \
		RUBY_API_VERSION=$$(/usr/bin/$$rubyver -e "print Gem.extension_api_version"); \
		GEM_DEST_DIR="$(CURDIR)/debian/ruby-google-protobuf/usr/lib/$(DEB_HOST_MULTIARCH)/rubygems-integration/$$RUBY_API_VERSION/gems"; \
		mkdir -p "$$GEM_DEST_DIR"; \
		rm -f "$$GEM_DEST_DIR/src"; \
		ln -s $(CURDIR)/src "$$GEM_DEST_DIR/src"; \
	done

	# Ruby install
	 sed 's|ext/|ruby/ext/|;s|tests/|ruby/tests/|' \
		 $(CURDIR)/ruby/google-protobuf.gemspec \
		 >$(CURDIR)/google-protobuf.gemspec
	PATH=../src:$(PATH) \
	dh_auto_install -O--buildsystem=ruby -O--package=ruby-google-protobuf --destdir=$(CURDIR)/debian/ruby-google-protobuf

	find $(CURDIR)/debian/ruby-google-protobuf/usr/lib/ \
		-name descriptor_dsl.rb -o -name well_known_types.rb \
		-exec chmod a+x {} \;
endif

override_dh_auto_install-indep:
	dh_auto_install --builddir=build-shared/ --indep

ifeq (,$(filter nojava,$(DEB_BUILD_PROFILES)))
	# Java install
	mh_install
endif

override_dh_install-arch:
	dh_install --arch

ifeq (,$(filter noruby,$(DEB_BUILD_PROFILES)))
	install -m0644 ruby/lib/google/*.so \
		$(RUBY_PKG_DIR)/usr/lib/$(DEB_BUILD_MULTIARCH)/rubygems-integration/*/extensions/*/*/google-protobuf-*/
endif

	# Convert doc dir to symlink for the -dev packages
	$(RM) -r $(CURDIR)/debian/libprotobuf-dev/usr/share/doc/libprotobuf-dev
	ln -s libprotobuf$(SONAME) $(CURDIR)/debian/libprotobuf-dev/usr/share/doc/libprotobuf-dev
	$(RM) -r $(CURDIR)/debian/libprotoc-dev/usr/share/doc/libprotoc-dev
	ln -s libprotoc$(SONAME) $(CURDIR)/debian/libprotoc-dev/usr/share/doc/libprotoc-dev

	# Remove compiler headers from libprotobuf-dev
	$(RM) -r $(CURDIR)/debian/libprotobuf-dev/usr/include/google/protobuf/compiler

	# Install python compiler headers in libprotoc-dev which do not otherwise get
	# installed but are needed for building python-grpcio_tools in grpc
	install -m0755 -d $(CURDIR)/debian/libprotoc-dev/usr/include/google/protobuf/compiler/python
	install -m0644 $(CURDIR)/src/google/protobuf/compiler/python/*.h \
		$(CURDIR)/debian/libprotoc-dev/usr/include/google/protobuf/compiler/python/

override_dh_installdocs-arch:
	dh_installdocs --arch
	# Fix permission
	chmod a-x $(CURDIR)/debian/protobuf-compiler/usr/share/doc/protobuf-compiler/examples/README.md
	# Remove extra .gitignore
	rm $(CURDIR)/debian/protobuf-compiler/usr/share/doc/protobuf-compiler/examples/.gitignore

override_dh_installdocs-indep:
	dh_installdocs --indep
	dh_installdocs -Xprotobuf-mode.el  # in protobuf-mode-el

execute_after_dh_link-indep:
ifeq (,$(filter nojava,$(DEB_BUILD_PROFILES)))
	jh_installlibs
	jh_classpath
	jh_manifest
	jh_depends
endif

override_dh_gencontrol:
	dh_gencontrol -- -Vpb:API=${API_VERSION}

.PHONY: override_dh_clean override_dh_auto_configure override_dh_auto_build-arch override_dh_auto_test-arch
